{% extends 'base.html' %}
{% load static %}



{% block css %}
<link rel="stylesheet" href="{% static 'css/category.css' %}">
{% endblock css %}
   

{% block main %}
<main>
   

   <div class="row">
      <!-- CARDS START -->
      <div class="col row my-3">
         <div class="d-flex justify-content-between">
            <h2>
               Kartlar
            </h2>
            <div>
               <a class="btn" href="/category/{{ category_actice }}/2/">6</a>
               <a class="btn" href="/category/{{ category_actice }}/3/">4</a>
               <a class="btn" href="/category/{{ category_actice }}/4/">3</a>
               <a class="btn" href="/category/{{ category_actice }}/6/">2</a>
               <a class="btn" href="/category/{{ category_actice }}/12/">1</a>
            </div>   
         </div>
         <hr>

         {% for i in cards %}
         <div class="col-{{ group }}">
            <div class="card">
               <a href="/detail/{{ i.id }}/">
                  <img src="{{ i.image.url }}" style="height: 300px; object-fit: contain;" class="card-img-top"
                     alt="Fissure in Sandstone" />
               </a>
               <div class="card-body">
                  <h5 class="card-title">{{ i.title }}</h5>
                  <h6 class="card-title text-muted fw-bold "><i>{{ i.author }}</i></h6>
                  <p class="card-text">{{ i.text|truncatechars:20 }}</p>
                  <p class="card-text text-muted">{{ i.date_now }}</p>
                  <div class="d-flex justify-content-between">
                     <a href="#!" class="btn btn-primary">Button</a>
                     
                     {% if request.user == i.user %}
                     <a href="{% url 'cardDelete' i.id %}" class="btn btn-danger">sil</a>
                     {% endif %}
                        
                  </div>
               </div>
            </div>
         </div>
         {% endfor %}


      </div>
      <!-- CARDS END -->

      <!-- CATEGORY START -->
      <div class="col-3 row my-3">
         <div class="list-group list-group-light">
            <h2>Kategori
               <hr>
            </h2>
      
            {% for i in brands %}
            <a href="/category/{{ i.title }}/{{ group }}/" class="list-group-item list-group-item-action px-3 border-0 
            {% if category_actice == i.title %} active {% endif %}"
               aria-current="true">
               {{ i.title }}
            </a>
            {% endfor %}
      
         </div>
      </div>
      <!-- CATEGORY END -->
   </div>

</main>
   
{% endblock main %}
   



